$desktop: 1200;
$tablet-2: 1023.98;
$tablet: 991.98;
$mobile: 767.98;
$phone: 500;

$black-4: #444444;
$black-2: #222222;
$orange: #F55F39;
$green: #2BCA8B;

$burgerWidth: 40px;
$burgerHeight: 25px; 
$burgerLineHeight: 2px; 
$burgerColor: #b8bdc9; 

%poppins {
  font-family: 'Poppins', sans-serif;
}