//брэкпоинты
// $tel: 375;
// $phone: 600;
// $tablet: 768;
// $tablet-2: 992;
// $desktop: 1230;

$black-4: #444444;
$black-2: #222222;
$orange: #F55F39;
$green: #2BCA8B;

%poppins {
  font-family: 'Poppins', sans-serif;
}