@import 'reset';
@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'libs';
@import 'animate';
@import 'global';

.header {
  position: relative;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;

  &__container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__nav {
    padding: 18px 0 19px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__form {
    display: flex;
  }

  &__input {
    padding: 10px 80px 11px 56px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #D9D9D9;
    line-height: 1.5;
    outline: transparent;
    background-image: url('../images/sprite.svg#search');
    background-position: 11px center;
    background-repeat: no-repeat;
    background-size: 25px 21px;
    max-width: 253.5px;

    &::placeholder {
      color: #e0e0e0;
    }
  }

  &__button {
    padding: 10px 43px 11px 44px;
    background-color: #b8bdc9;
    border-radius: 0 3px 3px 0;
    color: #e0e0e0;
    line-height: 1.5;
  }
}

.menu {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 21px;
    }

    &:first-child {
      .menu__link {
        display: block;
        padding-left: 22px;
        mask-image: url('../images/sprite.svg#home');
        display: block;
        background-color: $black-4;
        width: 22px;
        height: 20px;
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: cover;

        &--active {
          background-color: $orange;
        }

        &:hover {
          background-color: $orange;
        }
      }
    }
  }

  &__link {
    text-transform: uppercase;
    color: $black-2;
    font-size: 12px;
    line-height: 1.9;
    letter-spacing: 1px;

    &:hover {
      color: $orange;
    }

    &--active {
      color: $orange;
    }
  }
}

.hero {
  padding: 153px 0 177px;
  background-image: url('../images/content/herobg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;

  &__inner {
    max-width: 576px;
  }

  &__title {
    margin-bottom: 4px;
  }

  &__text {
    font-size: 19px;
    line-height: 1.95;
    margin-bottom: 85px;
  }

  &__links {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 15px;
    }

    &:first-child {
      .hero__link {
        background: $orange;
        color: #fff;
      }
    }

    &:last-child {
      .hero__link {
        background-color: #fff;
        color: #4d4d4d;
      }
    }
  }


}

.our-help {
  padding: 53px 0 17px;
  position: relative;

  &__inner {
    display: flex;
    transform: translateX(-40px);
  }
  &__title {
    max-width: 125px;
    color: $green;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.4;
    margin-right: 70px;
  }

  &__item {
    color: #252061;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

}

.our-writers {
  max-width: 600px;
  width: 100%;
  padding: 37px 55px 51px;
  background-color: #252061;
  box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  background-image: url('../images/sprite.svg#bg-lines');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;

  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 0.96;
    margin-bottom: 26px;
  }

  &__text {
    margin-bottom: 18.5px;
    max-width: 306px;
  }

  &__list {
    display: inline-flex;
    position: relative;
  }

  &__item {
    &:nth-child(2) {
      .our-writers__img {
        position: absolute;
        top: 12px;
        left: 45%;
        transform: translate(-45%);
      }
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__row {
    display: inline-flex;
    position: relative;
  }

  &__img {
    display: inline-block;
    border-radius: 10px;
  }

  &__link {
    display: inline-block;
    background-color: $green;
    padding: 12px 15px;
    box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 11px;
    right: 0;
    transform: translateX(90%);
  }
}