@import 'reset';
@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'libs';
@import 'animate';
@import 'global';

.header {
  position: relative;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;

  &__container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__nav {
    padding: 18px 0 19px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__form {
    display: flex;
  }

  &__input {
    padding: 10px 80px 11px 56px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #D9D9D9;
    line-height: 1.5;
    outline: transparent;
    background-image: url('../images/sprite.svg#search');
    background-position: 11px center;
    background-repeat: no-repeat;
    background-size: 25px 21px;
    max-width: 253.5px;

    &::placeholder {
      color: #e0e0e0;
    }
  }

  &__button {
    padding: 10px 43px 11px 44px;
    background-color: #b8bdc9;
    border-radius: 0 3px 3px 0;
    color: #e0e0e0;
    line-height: 1.5;
  }
}

.menu {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 21px;
    }

    &:first-child {
      .menu__link {
        display: block;
        padding-left: 22px;
        mask-image: url('../images/sprite.svg#home');
        display: block;
        background-color: $black-4;
        width: 22px;
        height: 20px;
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: cover;

        &--active {
          background-color: $orange;
        }

        &:hover {
          background-color: $orange;
        }
      }
    }
  }

  &__link {
    text-transform: uppercase;
    color: $black-2;
    font-size: 12px;
    line-height: 1.9;
    letter-spacing: 1px;

    &:hover {
      color: $orange;
    }

    &--active {
      color: $orange;
    }
  }
}

.hero {
  padding: 153px 0 177px;
  background-image: url('../images/content/herobg.jpg');
  background-repeat: no-repeat;
  background-position: center top;

  &__inner {
    max-width: 576px;
  }

  &__title {
    margin-bottom: 4px;
  }

  &__text {
    font-size: 19px;
    line-height: 1.95;
    margin-bottom: 85px;
  }

  &__links {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 15px;
    }

    &:first-child {
      .hero__link {
        background: $orange;
        color: #fff;
      }
    }

    &:last-child {
      .hero__link {
        background-color: #fff;
        color: #4d4d4d;
      }
    }
  }


}

.our-help {
  padding: 53px 0 58px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  position: relative;

  &__inner {
    display: flex;
    transform: translateX(-40px);
  }

  &__title {
    max-width: 125px;
    color: $green;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.4;
    margin-right: 70px;
  }

  &__item {
    color: #252061;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

}

.our-writers {
  max-width: 600px;
  width: 100%;
  padding: 37px 55px 51px;
  background-color: #252061;
  box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  background-image: url('../images/sprite.svg#bg-lines');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  // bottom: -51px;
  // right: -269px;
  bottom: 0;
  right: 0;
  z-index: 5;

  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 0.96;
    margin-bottom: 26px;
  }

  &__text {
    margin-bottom: 18.5px;
    max-width: 306px;
  }

  &__list {
    display: inline-flex;
    position: relative;
  }

  &__item {
    &:nth-child(2) {
      .our-writers__img {
        position: absolute;
        top: 12px;
        left: 45%;
        transform: translate(-45%);
      }
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__row {
    display: inline-flex;
    position: relative;
  }

  &__img {
    display: inline-block;
    border-radius: 10px;
  }

  &__link {
    display: inline-block;
    background-color: $green;
    padding: 12px 15px;
    box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 11px;
    right: 0;
    transform: translateX(90%);
  }
}

.our-blog {
  padding: 48px 0 100px;

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: 534px 376px;
    grid-gap: 30px;
  }

  &__item {
    max-width: 376px;
    height: 240px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:first-child {
      background-image: url('../images/content/moto.jpg');
      max-width: 534px;
      height: 675px;
      grid-row: span 3;
    }

    &:nth-child(2) {
      background-image: url('../images/content/man.jpg');
    }

    &:nth-child(3) {
      background-image: url('../images/content/girl.jpg');
    }

    &:last-child {
      height: 229px;
      background: url('../images/sprite.svg#bg-lines') center top no-repeat #252061;
      background-size: cover;
      padding: 45px 60px 40px;
    }
  }

  &__subtitle {
    color: #fff;
    font-size: 28px;
    line-height: 1.07;
    margin-bottom: 26px;
  }

  &__text {
    color: #fff;
    margin-bottom: 19px;
  }

  &__link {
    text-transform: capitalize;
    color: $orange;
  }
}

.info {
  max-width: 427px;
  padding: 28px 40px 0 0;
  background-color: #ffffff;
  color: #252061;
  position: absolute;
  bottom: -35px;
  left: 0;

  &__title {
    font-size: 30px;
    margin-bottom: 13px;
    line-height: 1.27;
    max-width: 314px;
  }

  &__text {
    color: #969696;
    max-width: 377px;
    margin-bottom: 15px;
  }
}

.info-author {
  display: flex;

  &__img {
    margin-right: 10px;
  }

  &__name {
    font-size: 15px;
    line-height: 1.53;
  }

  &__date {
    font-size: 13px;
    line-height: 1.77;
  }
}

.meta {
  max-width: 301px;
  background-color: #fff;
  padding-top: 20px;
  position: absolute;
  bottom: 0;
  left: 0;

  &__time {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.5;
    color: #929292;
  }

  &__text {
    max-width: 222px;
    font-size: 18px;
    line-height: 1.3;
  }
}

.resource-center {
  &__container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__wrapper {
    background-image: url('../images/content/center-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 660px;
    box-shadow: 14px 14px 80px rgba(0, 0, 0, 0.4);
    position: relative;
  }

  &__box {
    padding: 49px 66px 59px 50px;
    background-color: #352f77;
    max-width: 530px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
  }

  &__title {
    max-width: 414px;
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 22px;
  }

  &__text {
    font-size: 15px;
    line-height: 1.53;
    margin-bottom: 55px;
  }

  &__link {
    padding: 9px 30px 4px 80px;
    background-color: $green;
    position: relative;

    &::before {
      content: '';
      background-image: url('../images/sprite.svg#arrow-right');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 30px;
      height: 23px;
      position: absolute;
      top: 50%;
      left: 25px;
      transform: translateY(-50%);
    }
  }

  &__top {
    margin-bottom: 9px;
  }
}






.footer {
  padding: 130px 0 80px;
  background-color: #1C1842;
  background-image: url('../images/content/footerbg.svg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  &__top {
    display: flex;
    color: #fff;
    padding-bottom: 47px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    ;
  }

  &__box {
    max-width: 300px;
    margin-right: 90px;
  }

  &__logo {
    display: block;
    margin-bottom: 25px;
  }

  &__text {
    font-size: 15px;
  }

  &__links {
    display: flex;
  }
}

.links {
  &__title {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  &__link {
    line-height: 1.5;
    color: #aba8ca;

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}

.copyright {
  display: flex;
  padding: 31px 0 30px;

  &__item {
    color: #fff;
    font-size: 12px;
    line-height: 2.08;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__text {
    &--orange {
      color: $orange;
    }
  }
}